<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Add outcome</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home}">Incomes And Outcomes</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/home}">Home</a></li>
				<li><a th:href="@{/addOutcome}">Add outcome</a></li>
				<li><a th:href="@{/outcomes/userOutcomes}">Outcomes</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<form action="#" th:action=@{/addOutcome} th:object="${outcome}"
			method="post" role="form">
			<h2>Add outcome</h2>

			<div>
				Value: <input type="number" th:field="*{value}" placeholder="Value">
				<br> Date: <input type="text" th:field="*{outcomeDate}"
					placeholder="Date"> <br> Short description: <input
					type="text" th:field="*{shortDesc}" placeholder="Short description">
				<br>

				<button type="submit">Add</button>

			</div>

		</form>
	</div>


</body>
</html>