<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>All outcomes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link th:href="@{/css/style.css}" href="../static/css/style.css"
	rel="stylesheet" type="text/css" />
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home}">Incomes And Outcomes</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="@{/home}">Home</a></li>
				<li class="active"><a th:href="@{/outcomes/userOutcomes}">Outcomes</a></li>
				<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">

		<div class="btn-group">
			<a th:href="@{/addOutcome}"><button class="btn">Add
					outcome</button></a>
		</div>

		<div th:if="${outcomes}">

			<h1>
				<a th:href="@{/outcomesDateReport}">Show outcomes in date period</a>
			</h1>

			<br>

			<h1 th:inline="text">User [[${#httpServletRequest.remoteUser}]]
				last outcomes</h1>

			<div>

				<table class="table table-bordered">
					<th:block th:each="outcome : ${outcomes}">
						<tr>
							<td th:text="${outcome.shortDesc}"></td>
							<td th:text="${outcome.value}"></td>
							<td
								th:text="${#dates.format(outcome.outcomeDate, 'dd-MMM-yyyy')}"></td>
							<td><a th:href="@{'/deleteOutcome?id=' + ${outcome.id}}">Delete</a></td>
						</tr>
				</table>

			</div>

		</div>

		<div th:if="${message}">
			<h1 th:text="${message}"></h1>
		</div>
		
	</div>

</body>
</html>