<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Last user outcomes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link th:href="@{/css/style.css}" href="../static/css/style.css"
	rel="stylesheet" type="text/css" />
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home}">Incomes And Outcomes</a>
			</div>
			<ul class="nav navbar-nav">
			
				<li><a th:href="@{/home}">Home</a></li>
				
				<li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Incomes<span class="caret"></span></a>
					<ul class="dropdown-menu">
                        <li class="kopie"><a th:href="@{/incomes/userIncomes}">Incomes</a></li>
						<li><a th:href="@{/incomes/addIncome}">Add income</a></li>
						<li><a th:href="@{/incomes/incomesDateReport}">Incomes date report</a></li>
					</ul>
				</li>
				
				<li class="active dropdown dropdown-submenu"><a class="dropdown-toggle" data-toggle="dropdown"  href="#">Outcomes <span class="caret"></span></a>
					<ul class="dropdown-menu">
                        <li class="kopie"><a th:href="@{/outcomes/userOutcomes}">Outcomes</a></li>
						<li><a th:href="@{/outcomes/addOutcome}">Add outcome</a></li>
						<li><a th:href="@{/outcomes/outcomesDateReport}">Outcomes date report</a></li>
					</ul>
				</li>
				
				<li sec:authorize="isAuthenticated()" class="dropdown dropdown-submenu"><a class="dropdown-toggle" data-toggle="dropdown"  href="#">Categories<span class="caret"></span></a>
					<ul class="dropdown-menu">
						 <li><a th:href="@{/categories}">Categories</a></li>
						 <li><a th:href="@{/categories/addCategory}">Add category</a></li>
					</ul>
				</li>
				
				<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
				
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">

		<div th:if="${outcomes}">

			<h3 th:inline="text">User [[${#httpServletRequest.remoteUser}]] last outcomes</h3>

			<div>

				<table class="table table-bordered">
					<th:block th:each="outcome : ${outcomes}">
						<tr>
							<td th:text="${outcome.shortDesc}"></td>
							<td th:text="${outcome.value}"></td>
							<td
								th:text="${#dates.format(outcome.date, 'dd-MMM-yyyy')}"></td>
							<td><a th:href="@{'deleteOutcome?id=' + ${outcome.id}}">Delete</a></td>
						</tr>
				</table>

			</div>
			
				<div class="text-center">			
					<div th:if="${pages}">
						<a th:each="p : ${pages}" th:href="@{'?page=' + ${p}}" th:style="${p == currentPage ? 'color: green; font-weight: bold; pointer-events: none; cursor: default;' : ''}"><span th:text="${p} + ' '"></span></a> 
					</div>
					
					<div th:if="${selectedPages}">
						<a th:href="@{?page=1}" th:style="${1 == currentPage ? 'color: green; font-weight: bold; pointer-events: none; cursor: default;' : ''}"><span th:text="1"></span></a>
						<span th:if="${prefix}">...</span>
						<a th:each="p : ${selectedPages}" th:href="@{'?page=' + ${p}}" th:style="${p == currentPage ? 'color: green; font-weight: bold; pointer-events: none; cursor: default;' : ''}"><span th:text="${p} + ' '"></span></a>
						<span th:if="${suffix}">...</span>
						<a th:href="@{'?page=' + ${lastPage}}" th:style="${lastPage == currentPage ? 'color: green; font-weight: bold; pointer-events: none; cursor: default;' : ''}"><span th:text="${lastPage}"></span></a>
					</div>
		
				</div>
			</div>

		<div th:if="${message}">
			<h1 th:text="${message}"></h1>
		</div>
		
	</div>

</body>
</html>