<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Incomes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home}">Incomes And Outcomes</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a th:href="@{/home}">Home</a></li>
				<li class="active"><a th:href="@{/incomes/userIncomes}">Incomes</a></li>
				<li><a th:href="@{/outcomes/userOutcomes}">Outcomes</a></li>
				<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">

		<form th:action="@{incomesDateReport}" th:object="${datePeriod}"
			method="post">

			<h2>Show incomes between dates</h2>
			<div>
				Date from: <input type="text" th:field="*{fromDate}" placeholder="From"> <br>
				Date to: <input type="text" th:field="*{toDate}" placeholder="To"> <br>

				<button type="submit">Show</button>
				
			</div>

		</form>
		
		<div th:if="${opds}">
				
				<div>
					Outcomes between <span th:text="${#dates.format(datePeriod.fromDate, 'dd-MMM-yyyy') + ' - ' + #dates.format(datePeriod.toDate, 'dd-MMM-yyyy')}"></span>
				</div>
				
				<table class="table table-bordered">
					<tr>
						<th>Date</th>
						<th>Outcomes</th>
						<th>Category</th>
						<th>Value</th>
						<th>Modify</th>
						
					</tr>
					<th:block th:each="opd : ${opds}">
						<tr>
							<td th:text="${#dates.format(opd.date, 'dd-MMM-yyyy')}"></td>
							<td>
								<ul th:each="income : ${opd.operations}">
									<li th:text="${income.shortDesc}"></li>
								</ul>
							</td>
							
							<td>
								<ul th:each="income : ${opd.operations}">
									<li th:if="${income.category != null && income.category.name != null}" th:text="${income.category.name}"> </li>
								</ul>
							</td>
							
							<td>
								<ul th:each="income : ${opd.operations}">
									<li th:text="${income.value}"></li>
								</ul>
							</td>
							
							<td>
							<ul th:each="income : ${opd.operations}">
								<li><a th:href="@{'editIncome?id=' + ${income.id}}">Edit</a> | <a th:href="@{'deleteIncome?id=' + ${income.id} + '&date=true'}">Delete</a></li>
							</ul>							

						</tr>
					</th:block>
					
					<tr>
						<td><b>Summary</b></td>
						<td></td>
						<td></td>
						<td><b th:text="${summary}"></b></td>
					</tr>
				</table>
	
			</div>

	</div>
</body>
</html>