<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Incomes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link th:href="@{/css/style.css}" href="../static/css/style.css"
	rel="stylesheet" type="text/css" />
</head>
<body>

	<div th:replace="fragments/navigationFragment :: navigation"></div>
	
	<div class="container">

		<div th:if="${errorMessage == null}">
			<form th:action="@{incomesDateReport}" th:object="${datePeriod}"
				method="post">
	
				<h3>Show incomes between dates</h3>
				<div>
					
					<div class="form-group">
				      <label for="DateFrom">Date from</label>
				      <input type="text" class="form-control" th:field="*{fromDate}" id="DateFrom" placeholder="From" name="DateFrom">
	    			</div>
				
					<div class="form-group">
				      <label for="DateTo">Date to</label>
				      <input type="text" class="form-control" th:field="*{toDate}" id="DateTo" placeholder="To" name="DateTo">
	    			</div>
	
					<button type="submit" class="btn btn-default">Show</button>
					
				</div>
	
			</form>
			
			<div th:if="${opds}">
					
					<div>
						Outcomes between <span th:text="${#dates.format(datePeriod.fromDate, 'dd-MM-yyyy') + ' - ' + #dates.format(datePeriod.toDate, 'dd-MM-yyyy')}"></span>
					</div>
					
					<table class="table table-bordered">
						<tr>
							<th>Date</th>
							<th>Outcomes</th>
							<th>Category</th>
							<th>Value</th>
							<th>Modify</th>
							
						</tr>
						<th:block th:each="opd : ${opds}">
							<tr>
								<td th:text="${#dates.format(opd.date, 'dd-MM-yyyy')}"></td>
								<td>
									<ul th:each="income : ${opd.operations}">
										<li th:text="${income.shortDesc}"></li>
									</ul>
								</td>
								
								<td>
									<ul th:each="income : ${opd.operations}">
										<li th:if="${income.category != null && income.category.name != null}" th:text="${income.category.name}"> </li>
									</ul>
								</td>
								
								<td>
									<ul th:each="income : ${opd.operations}">
										<li th:text="${income.value}"></li>
									</ul>
								</td>
								
								<td>
								<ul th:each="income : ${opd.operations}">
									<li><a th:href="@{'editIncome?id=' + ${income.id}}">Edit</a> | <a th:href="@{'deleteIncome?id=' + ${income.id} + '&date=true'}">Delete</a></li>
								</ul>							
	
							</tr>
						</th:block>
						
						<tr>
							<td><b>Summary</b></td>
							<td></td>
							<td></td>
							<td><b th:text="${summary}"></b></td>
						</tr>
					</table>
		
				</div>
			</div>
			
			<div th:if="${errorMessage}">
				<h3 th:text="${errorMessage}"></h3>
			</div>			

	</div>
</body>
</html>