<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link th:href="@{/css/style.css}" href="static/css/style.css"
	rel="stylesheet" type="text/css" />

</head>
<body>

	<div th:replace="fragments/navigationFragment :: navigation"></div>
	
	<div class="container">
	
		<div th:if="${successMessage}">
			<span th:text="${successMessage}" style="color: green;"></span>
			<br>
		</div>
	
	
		<h3>Enter your login and password</h3>
		<form th:action="@{/login}" method="post">
			<div class="row">
				<div class="form-group col-lg-3">
			      <label class="input-medium" for="login">User name</label>
			      <input type="text" class="form-control" id="login" placeholder="Enter login" name="login" required>
	    		</div>
    		</div>
    		<div class="row">
	    		<div class="form-group col-lg-3">
			      <label for="password">Password</label>
			      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
	    		</div>
    		</div>
    		
    		<div class="row form-group col-lg-3">
    			 <label for="submit" th:if="${param.error}" style="color:red;">Invalid login or password!</label><br>
				 <button id="submit" type="submit" class="btn btn-primary">Sign in</button>
			</div>
			
			<br>
			
				
			<div th:if="${param.logout}"><br>You have been logged out.</div>	
			
			
		</form>
		
		
		
	</div>
	
</body>
</html>