<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Incomes and outcomes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link th:href="@{/css/style.css}" href="static/css/style.css"
	rel="stylesheet" type="text/css" />
	
	<script th:href="@{/js/validators.js}" src="../js/validators.js"></script>
</head>
<body>

<div th:replace="fragments/navigationFragment :: navigation"></div>
	<div class="container">

		<form th:action="@{report}" th:object="${datePeriod}" onsubmit="return(validateReportDates());"
			method="post">

			<h2>Show operations between dates</h2>
			<div>
				<div class="form-group">
					<label for="dateFrom">Date from</label>
					<input type="text" class="form-control" id="fromDate" th:field="*{fromDate}" placeholder="From" id="fromDate">
				</div>
				
				<div class="form-group">
					<label for="dateTo">Date to</label>
					<input type="text" class="form-control" id="toDate" th:field="*{toDate}" placeholder="To" id="toDate">
				</div>
			
				<button type="submit" class="btn btn-primary">Show report</button>
				
			</div>

		</form>
		
		<div>
			<span id="jsValidator" style="color:red;"></span>
		</div>
		
		<br><br>
		
		<div th:if="${opds}">
				
				<div>
					Outcomes and incomes in date period <span th:text="${#dates.format(datePeriod.fromDate, 'dd-MM-yyyy') + ' - ' + #dates.format(datePeriod.toDate, 'dd-MM-yyyy')}"></span>
				</div>
				
				<table class="table table-bordered">
					<tr>
						<th><a th:href="@{'?sortBy=date&from=' +  ${#dates.format(datePeriod.fromDate, 'dd-MM-yyyy')} + '&to=' + ${#dates.format(datePeriod.toDate, 'dd-MM-yyyy')} + '&order=' + ${order}}">Date</a></th>
						<th>Outcome/Income</th>
						<th><a th:href="@{'?sortBy=category&from=' +  ${#dates.format(datePeriod.fromDate, 'dd-MM-yyyy')} + '&to=' + ${#dates.format(datePeriod.toDate, 'dd-MM-yyyy')} + '&order=' + ${order}}">Category</a></th>
						<th><a th:href="@{'?sortBy=value&from=' +  ${#dates.format(datePeriod.fromDate, 'dd-MM-yyyy')} + '&to=' + ${#dates.format(datePeriod.toDate, 'dd-MM-yyyy')} + '&order=' + ${order}}">Value</a></th>
					</tr>
					<th:block th:each="opd : ${opds}">
						<tr>
							<td th:text="${#dates.format(opd.date, 'dd-MM-yyyy')}"></td>
							<td>
								<ul th:each="operation : ${opd.operations}">
									<li th:style="${operation.class.name == 'pl.piterpti.model.Income' ? 'color: green;' : 'color:red;'}" 
									th:text="${operation.shortDesc}"></li>
								</ul>
							</td>
							
							<td>
								<ul th:each="operation : ${opd.operations}">
									<li th:if="${operation.category != null && operation.category.name != null}" 
										th:style="${operation.class.name == 'pl.piterpti.model.Income' ? 'color: green;' : 'color:red;'}"
										th:text="${operation.category.name}"></li>
								</ul>
							</td>
							
							<td>
								<ul th:each="operation : ${opd.operations}">
									<li th:style="${operation.class.name == 'pl.piterpti.model.Income' ? 'color: green;' : 'color:red;'}" 
										th:text="${operation.value}"></li>
								</ul>
							</td>
							
						</tr>
						
					</th:block>
					
					<tr>
						<td><b>Summary</b></td>
						<td></td>
						<td></td>
						<td><b th:text="${summary}"></b></td>
					</tr>
				</table>
	
			</div>

	</div>
</body>
</html>