<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Registration</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link th:href="@{/css/style.css}" href="static/css/style.css"
	rel="stylesheet" type="text/css" />
	
	<script th:href="@{/js/validators.js}" src="js/validators.js"></script>
</head>
<body>

	<div th:replace="fragments/navigationFragment :: navigation"></div>
	
	<div class="container">
	
		<form autocomplete="off" action="#" th:action="@{/registration}" onsubmit="return(validateRegistration());"
			th:object="${user}" method="post" role="form">
			<h2>Registration form</h2>

			<div class="row">
				<div class="form-group col-lg-3">
					<label for="Name">Username</label>
					<input type="text" class="form-control" th:field="*{userName}" id="Username" placeholder="User name" name="Username">
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-lg-3">
					<label for="Login">Login</label>
					<input type="text" class="form-control" th:field="*{login}" id="Login" placeholder="Login" name="Login">
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-lg-3">
					<label for="Password">Password</label>
					<input type="password" class="form-control" th:field="*{password}" id="Password" placeholder="Password" name="Password">
				</div>
			</div>

			<div class="row form-group col-lg-6">
				<label for="submit" id="jsValidator" style="color:red;" th:text="${errorMessage}"></label><br>
				<button id="submit" type="submit" class="btn btn-primary">Register user</button>
			</div>
			
		</form>
		
	</div>

</body>
</html>