<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Registration</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link th:href="@{/css/style.css}" href="static/css/style.css"
	rel="stylesheet" type="text/css" />
	
	<script th:href="@{/js/validators.js}" src="js/validators.js"></script>
</head>
<body>

	<div th:replace="fragments/navigationFragment :: navigation"></div>
	
	<div class="container">
	
		<form autocomplete="off" action="#" th:action="@{/registration}" onsubmit="return(validateRegistration());"
			th:object="${user}" method="post" role="form">
			<h2>Registration form</h2>


			<div class="form-group">
				<label for="Name">Username</label>
				<input type="text" class="form-control" th:field="*{userName}" id="Username" placeholder="" name="Username">
			</div>
			
			<div class="form-group">
				<label for="Login">Login</label>
				<input type="text" class="form-control" th:field="*{login}" id="Login" placeholder="" name="Login">
			</div>
			
			<div class="form-group">
				<label for="Password">Password</label>
				<input type="password" class="form-control" th:field="*{password}" id="Password" placeholder="" name="Password">
			</div>

			<button type="submit" class="btn btn-default">Register user</button>
			
		</form>
		
		<div>
			<span th:text="${successMessage}"></span>
		</div>
		
		<br>
		
		<div>
			<span id="jsValidator" style="color:red;"></span>
		</div>
		
		<div th:if="${errorMessage}">
			<span style="color: red;" th:text="${errorMessage}"></span>
		</div>
		
	</div>

</body>
</html>